@use '/src/styles/variables' as *;
@use '/src/styles/animations' as *;
@use '/src/styles/utils' as *;

.YesNo {
  font-family: 'Inter';
  // background-color: aqua;
  &-yes {
    color: $colorSuccess;
  }
  &-no {
    color: $colorError;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
