@use '/src/styles/variables' as *;
@use '/src/styles/animations' as *;
@use '/src/styles/utils' as *;

.ColoredLi {
  position: relative;
  font-family: 'Inter';
  padding-left: 12px;
}

.odd::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: $secondaryColor8;
  left: 0;
  top: 0;
  border-radius: 0 4px 4px 0;
}
.even::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: $primaryColor11;
  left: 0;
  top: 0;
  border-radius: 0 4px 4px 0;
}
// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
