@import '/src/styles/variables';

:export {
  //----------------------Primary
  primaryColor: $primaryColor;
  primaryColor1: $primaryColor1;
  primaryColor2: $primaryColor2;
  primaryColor3: $primaryColor3;
  primaryColor4: $primaryColor4;
  primaryColor5: $primaryColor5;
  primaryColor6: $primaryColor6;
  primaryColor7: $primaryColor7;
  primaryColor8: $primaryColor8;
  primaryColor9: $primaryColor9;
  primaryColor10: $primaryColor10;
  primaryColor11: $primaryColor11;
  primaryColor12: $primaryColor12;
  primaryColor13: $primaryColor13;
  primaryColor14: $primaryColor14;
  primaryColor15: $primaryColor15;
  primaryColor16: $primaryColor16;
  primaryColor17: $primaryColor17;
  primaryColor18: $primaryColor18;
  primaryColor19: $primaryColor19;
  primaryColor20: $primaryColor20;
  secondaryColor: $secondaryColor;
  secondaryColor1: $secondaryColor1;
  secondaryColor2: $secondaryColor2;
  secondaryColor3: $secondaryColor3;
  secondaryColor4: $secondaryColor4;
  secondaryColor5: $secondaryColor5;
  secondaryColor6: $secondaryColor6;
  secondaryColor7: $secondaryColor7;
  secondaryColor8: $secondaryColor8;
  secondaryColor9: $secondaryColor9;
  secondaryColor10: $secondaryColor10;
  secondaryColor11: $secondaryColor11;
  secondaryColor12: $secondaryColor12;
  secondaryColor13: $secondaryColor13;
  secondaryColor14: $secondaryColor14;
  secondaryColor15: $secondaryColor15;
  secondaryColor16: $secondaryColor16;
  secondaryColor17: $secondaryColor17;
  secondaryColor18: $secondaryColor18;
  secondaryColor19: $secondaryColor19;
  secondaryColor20: $secondaryColor20;
  colorError: $colorError;

  colorDark0: $colorDark0;
  colorDark1: $colorDark1;
  colorDark2: $colorDark2;
  colorDark3: $colorDark3;
  colorDark4: $colorDark4;
  colorDark5: $colorDark5;
  colorDark6: $colorDark6;
  colorDark7: $colorDark7;
  colorDark8: $colorDark8;
  colorDark9: $colorDark9;
  colorDark10: $colorDark10;
  colorDark11: $colorDark11;
  colorDark12: $colorDark12;
  colorDark13: $colorDark13;
  colorDark14: $colorDark14;
  colorDark15: $colorDark15;
  colorDark16: $colorDark16;
  colorDark17: $colorDark17;
  colorDark18: $colorDark18;
  colorDark19: $colorDark19;
  colorDark20: $colorDark20;

  // ---Default
  colorDark: $colorDark;

  //----------------------Light
  colorLight0: $colorLight0;
  colorLight1: $colorLight1;
  colorLight2: $colorLight2;
  colorLight3: $colorLight3;
  colorLight4: $colorLight4;
  colorLight5: $colorLight5;
  colorLight6: $colorLight6;
  colorLight7: $colorLight7;
  colorLight8: $colorLight8;
  colorLight9: $colorLight9;
  colorLight10: $colorLight10;
  colorLight11: $colorLight11;
  colorLight12: $colorLight12;
  colorLight13: $colorLight13;
  colorLight14: $colorLight14;
  colorLight15: $colorLight15;
  colorLight16: $colorLight16;
  colorLight17: $colorLight17;
  colorLight18: $colorLight18;
  colorLight19: $colorLight19;
  colorLight20: $colorLight20;
  // // ---Default
  colorLight: $colorLight;
}
